<form method="post" action="{{ action }}">
    <div class="form-group">
        <label class="control-label">Nome</label>
        <input class="form-control" type="text" placeholder="Nome"
               name="name" value="{{ menu.name }}">
    </div>
    <div class="form-group">
        <label class="control-label">Tipo</label>
        <select class="form-control"
                name="type_id">
            {%  for id, type in types %}
                <option value="{{ id }}">
                    {{ type }}
                </option>
            {% endfor %}            
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Data inicial</label>
        <input class="form-control" type="text" placeholder="Data inicial"
               name="dt_start" value="{{ menu.dt_start }}">
    </div>
    <div class="form-group">
        <label class="control-label">Data final</label>
        <input class="form-control" type="text" placeholder="Data final"
               name="dt_end" value="{{ menu.dt_end }}">
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        Avançar
        <span class="glyphicon glyphicon-{{ submitIcon }}"></span>
    </button>
</form>
