{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include 'display-erros.html.twig' %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Adicionar itens
                    </h3>
                </div>
                <div class="panel-body">
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th scope="row">#</th>
                                        <td>{{ meal.id }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Refeição</th>
                                        <td>{{ meal.name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Receita</th>
                                        {% if meal.meal_recipe_link %}
                                        <td><a target="_blank" href="//{{meal.meal_recipe_link}}">Ir para receita</a></td>
                                        {% else %}
                                        <td>Não há link</td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% set action = route('meals-itens.store') %}
                            {% set submitIcon = 'ok' %}
                            {% include 'meals-itens/_form.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">
                        Itens adicionados
                    </h3>
                    <!-- Small button group -->
                    <div class="btn-group pull-right">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ações <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="delItens" href="javascript:;">Excluir</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <label>
                                                <input class="checkAll" type="checkbox" name="checkAll">
                                            </label>
                                        </th>
                                        <th>Ingrediente</th>
                                        <th>Estado</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="id[]" value="{{ item.id }}">
                                                </label>
                                            </td>
                                            <td>{{ item.ingredients.name }}</td>
                                            <td>{{ item.states.name }}</td>
                                            <td>
                                                <a class="delItem" href="javascript:;" data-id="{{item.id }}">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/js/meals-itens/add.js"></script>
{% endblock %}