{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Gerador de cardápio
                    </h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline text-center" method="post" action="{{ route('menu-generator.store') }}">
                        <div class="form-group">
                            <label class="control-label">Início</label>
                            <input class="form-control" type="date" placeholder="DD/MM/YYY"
                                   name="dtInicio" value="{{ dtInicio }}">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fim</label>
                            <input class="form-control" type="date" placeholder="DD/MM/YYY"
                                   name="dtFim" value="{{ dtFim }}">
                        </div>
                        {#<div class="form-group">
                            <select class="form-control"
                                    name="menu_id">
                                {%  for menu in menus %}
                                    <option value="{{ menu.id }}">
                                        {{ menu.name }}
                                    </option>
                                {% endfor %}            
                            </select>
                        </div>#}
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}