{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel col-xs-12">
                <div class="panel-heading">
                    <div class="basic-tb-hd">
                        <h2>
                            Cardápio [ <span class="dtIni" data-dtini="{{ dtIni }}">{{ dtIni | date('d/m/Y') }}</span> - <span class="dtFin" data-dtfin="{{ dtFin }}">{{ dtFin | date('d/m/Y') }}</span> ] gerado em {{ "now"|date("d/m/Y") }}
                        </h2>
                        <div class="menu-right">
                            <a href="javascript:;" class="btn btn-default btn-sm refresh" title="Gerar novamente">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for head in headers %}
                            <div class="head-week-day">
                                <strong>{{ head }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% for id, meals in menu %}
                            <div class="cell-week-day" data-day="{{ id|date('Y-m-d') }}" data-amealid="{{ meals['almoco']['meal']['meal_id'] }}" data-jmealid="{{ meals['almoco']['meal']['meal_id'] }}">
                                <span class="day"><strong>{{ id | date('d/m/Y')}}</strong></span>
                                <span class="break-f"><strong>Almoço: </strong></span>
                                <span class="meal">{{ meals['almoco']['meal']['meal_name'] }}</span>
                                <span class="dinner"><strong>Jantar: </strong></span>
                                <span class="meal">{{ meals['jantar']['meal']['meal_name'] }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary notika-btn-primary btn-salvar">Salvar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/js/menu-generator/add.js"></script>
{% endblock %}
