{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel col-xs-12">
                <div class="panel-heading">
                    <div class="basic-tb-hd">
                        <h2>Refeições</h2>
                        <div class="menu-right">
                            <a href="{{ route('meals.new') }}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-sc-ex">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Nome</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for meal in meals %}
                                        <tr>
                                            <td>{{ meal.id }}</td>
                                            <td>{{ meal.name }}</td>
                                            <td>
                                                <a href="{{ route('meals.edit', {'id': meal.id}) }}">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a href="{{ route('meals-itens.add', {'id': meal.id}) }}" title="Itens">
                                                    <span class="glyphicon glyphicon-list"></span>
                                                </a>
                                                {#|
                                                <a href="{{ route('meals.show', {'id': meal.id}) }}">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </a>#}

                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}