<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cardapium</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <link rel="stylesheet" href="/css/wave/button.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/geral.css">
    </head>
    <body>
        {% if Auth.check() %}
            <div class="header-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="logo-area">
                                <a href="#">Cardapium<sub>beta</sub></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu-area mg-tb-40">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                                <li><a href="{{ route('users.list') }}"><i class="fa fa-user-o fa-fw" aria-hidden="true"></i>Usuários</a></li>
                                <li><a href="{{ route('ingredient-types.list') }}"><i class="fa fa-square-o fa-fw" aria-hidden="true"></i></i>Tipos de ingrediente</a></li>
                                <li><a href="{{ route('ingredients.list') }}"><i class="fa fa-leaf fa-fw" aria-hidden="true"></i>Ingredientes</a></li>
                                <li><a href="{{ route('states.list') }}"><i class="fa fa-thermometer-quarter fa-fw" aria-hidden="true"></i>Estados</a></li>
                                <li><a href="{{ route('meals.list') }}"><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i>Refeições</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list-alt fa-fw" aria-hidden="true"></i>Cardápios <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ route('menus.list') }}">Lista</a>
                                        </li>
                                        <li>
                                            <a href="{{ route('menu-generator.filter') }}">Gerador de cardápio</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="{{ route('shopping-list.list') }}"><i class="fa fa-cart-arrow-down fa-fw" aria-hidden="true"></i>Lista de compras</a></li>
                                <li><a>Olá {{ Auth.user().fullname }}</a></li>
                                <li><a href="{{ route('auth.logout') }}">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% block content %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>