{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include 'display-erros.html.twig' %}
            <div class="panel col-xs-12">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Adicionar itens
                    </h3>
                </div>
                <div class="panel-body">
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-sc-ex">
                                <tbody>
                                    <tr>
                                        <th scope="row">#</th>
                                        <td>{{ menu.id }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Cardápio</th>
                                        <td>{{ menu.name }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% set action = route('menu-items.store') %}
                            {% set submitIcon = 'ok' %}
                            {% include 'menu-items/_form.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel col-xs-12">
                <div class="panel-heading clearfix">
                    <h2 class="panel-title pull-left">
                        Itens adicionados
                    </h2>
                    <!-- Small button group -->
                    <div class="btn-group pull-right">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ações <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="delItens" href="javascript:;">Excluir</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for dt_week, itemCard in itensCard %}
                            <div class="panel week-day">
                                <div class="panel-heading">
                                    <p>
                                        <strong>{{ dt_week|date('d/m')}} 
                                            - {{ itemCard['dt_ext'] }}</strong>
                                    </p>
                                    <a data-id="{{ menu.id }}" data-dt_week="{{ dt_week }}" class="minus" href="javascript:;">
                                        <i class="fa fa-close" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    {% for meal_split_id, mealsI in itemCard['itens'] %}
                                        <div class="meal-split">
                                            <b>{{ meal_splits[meal_split_id] }}</b>
                                            <a class="meal-icon item-pluss" data-menuid="{{ menu.id }}" data-mealsplitid="{{ meal_split_id }}" data-dtweek="{{ dt_week }}" href="javascript:;">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        {% for meal in mealsI %}
                                            <div>
                                                <a href="/meals-itens/{{ meal.meal_id }}/add">
                                                    <i>{{ meal.meals.name }}</i>
                                                </a>
                                                <a data-id="{{ meal.id }}" class="meal-icon item-minus" href="javascript:;">
                                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        {% endfor %}

                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <table class="table table-sc-ex">
                            <thead>
                                <tr>
                                    <th>
                                        <label>
                                            <input class="checkAll" type="checkbox" name="checkAll">
                                        </label>
                                    </th>
                                    <th>Refeição</th>
                                    <th>Tipo</th>
                                    <th>Dia</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>
                                            <label>
                                                <input type="checkbox" name="id[]" value="{{ item.id }}">
                                            </label>
                                        </td>
                                        <td><a href="/meals-itens/{{ item.meal_id }}/add">{{ item.meals.name }}</a></td>
                                        <td>{{ meal_splits[item.meal_split_id] }}</td>
                                        <td>{{ item.dt_week | date('d/m/Y') }} - {{ item.dt_ext }}</td>
                                        <td>
                                            <a class="delItem" href="javascript:;" data-id="{{item.id }}">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="menuItemAddModal" tabindex="-1" role="dialog" 
                     aria-labelledby="menuItemAddModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close" 
                                        data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Adicionar refeição
                                </h4>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="mealId">Refeição</label>
                                        <select name="mealId" id="mealId" class="form-control">
                                            {% for meal in meals %}
                                                <option value="{{ meal.id }}">{{ meal.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </form>
                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">
                                    Cancelar
                                </button>
                                <button type="button" class="btn btn-primary btnMenuItemAdd">
                                    Adicionar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="/css/menu-items-add.css">
    <script src="/js/menu-items/add.js"></script>
{% endblock %}